<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Clustering</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <form action="/transform" method="post" enctype="multipart/form-data">
    </br>
    </br>
    </br>
    </br>
    <h4 class="h66" > Type the city name to know the weather Forecast</h4>
    <input class="in" type="text" id="city" required="required"  />
    </br>
    </br>
    <button>Predict</button>
    </form>
</body>
     <style>
        body {
            background-color: #ffffcc;
            text-align: center;
            padding: 0px;
        }
</style>
</html>
